apiVersion: v1
kind: ConfigMap
metadata:
  name: jenkins-configuration-as-code
  namespace: jenkins
data:
  config.yaml: |
    jenkins:
      systemMessage: "Jenkins configured automatically by Jenkins Configuration as Code plugin\n\n"

      clouds:
      - kubernetes:
          name: "kubernetes"
          namespace: "jenkins"
          serverUrl: "https://192.168.1.20:6443"
          jenkinsUrl: "http://jenkins-service.jenkins.svc.calfolguera.com:8080"
          jenkinsTunnel: "jenkins-service.jenkins.svc.calfolguera.com:50000"
          skipTlsVerify: true
          templates:
          - agentInjection: true
            containers:
            - image: "jenkins/inbound-agent:latest"
              livenessProbe:
                failureThreshold: 0
                initialDelaySeconds: 0
                periodSeconds: 0
                successThreshold: 0
                timeoutSeconds: 0
              name: "jnlp"
              workingDir: "/home/jenkins/agent"
            label: "k8s-agent"
            name: "default-agent"
            namespace: "jenkins"
          - name: "terraform-agent"
            namespace: "jenkins"
            label: "terraform"
            agentInjection: true
            containers:
            - name: "terraform-agent"
              image: "jenkins/jnlp-agent-terraform"
              ttyEnabled: true
              workingDir: "/home/jenkins/agent"
              command: "/bin/sh -c"
              args: "cat"

      securityRealm:
        oic:
          clientId: "UjajXtqz864vBMwxYZckj296pYVBjTqbBwtTqTGF"
          clientSecret: "{AQAAABAAAACQeAl+3F4RvAGppCIIDzFPWfs0EVZ0kpLxrRaQMy2Fl243eX3wQ8+lfcFxuMcvezC3NNEvBiZkqU31mP/VsyxQvvOFawU5ouP/3vQyPRu5yWQN06UZdBfCREsWa4hE8FifgI3/UccrU1InO+TITxJaFn4wSp7HOSfNhDV7wKb2A7Gkb03KF5oFVSTW4iVORc2bJKk0oO/f2JlQyYOxU4nsyQ==}"
          disableSslVerification: false
          emailFieldName: "email"
          fullNameFieldName: "name"
          groupIdStrategy: "caseSensitive"
          groupsFieldName: "groups"
          logoutFromOpenidProvider: false
          properties:
          - "pkce"
          - escapeHatch:
              secret: "{AQAAABAAAABAxZSIKeIBEqV24OpUYitoAFV3bT00g7bMmnmO6lCZ/KDGb3OFHZ8cT25gy6xJnbGq3muGQAGHcG6PtkgpXBr+dpoRzC9Nt4aeTFGwG+Bglu0=}"
              username: "admin"
          serverConfiguration:
            wellKnown:
              scopesOverride: "openid profile email"
              wellKnownOpenIDConfigurationUrl: "https://authentik.calfolguera.freemyip.com/application/o/jenkins/.well-known/openid-configuration"
          userIdStrategy: "caseSensitive"
          userNameField: "preferred_username"

    unclassified:
      scmGit:
        globalConfigEmail: "hfolguera@gmail.com"
        globalConfigName: "hfolguera"
      thinBackup:
        backupAdditionalFiles: false
        backupBuildArchive: false
        backupBuildResults: true
        backupBuildsToKeepOnly: false
        backupConfigHistory: true
        backupNextBuildNumber: true
        backupPath: "/var/jenkins_home/backups"
        backupPluginArchives: true
        backupUserContents: true
        cleanupDiff: false
        failFast: true
        forceQuietModeTimeout: 120
        fullBackupSchedule: "H 0 * * *"
        moveOldBackupsToZipFile: false
        nrMaxStoredFull: 1
        waitForIdle: true

    tool:
      terraform:
        installations:
        - name: "Terraform 41023"
          properties:
          - installSource:
              installers:
              - terraformInstaller:
                  id: "41023-linux-amd64"
