apiVersion: v1
kind: ConfigMap
metadata:
  name: jenkins-configuration-as-code
  namespace: jenkins
data:
  config.yaml: |
    jenkins:
      systemMessage: "Jenkins configured automatically by Jenkins Configuration as Code plugin\n\n"

      clouds:
      - kubernetes:
          name: "kubernetes"
          namespace: "jenkins"
          serverUrl: "https://192.168.1.7:6443"
          jenkinsUrl: "http://jenkins-service.jenkins.svc.calfolguera.com:8080"
          jenkinsTunnel: "jenkins-service.jenkins.svc.calfolguera.com:50000"
          skipTlsVerify: true
          templates:
          - agentInjection: true
            containers:
            - image: "jenkins/inbound-agent:latest"
              livenessProbe:
                failureThreshold: 0
                initialDelaySeconds: 0
                periodSeconds: 0
                successThreshold: 0
                timeoutSeconds: 0
              name: "jnlp"
              workingDir: "/home/jenkins/agent"
            label: "k8s-agent"
            name: "default-agent"
            namespace: "jenkins"
          - name: "terraform-agent"
            namespace: "jenkins"
            label: "terraform"
            agentInjection: true
            containers:
            - name: "terraform-agent"
              image: "jenkins/jnlp-agent-terraform"
              ttyEnabled: true
              workingDir: "/home/jenkins/agent"
              command: "/bin/sh -c"
              args: "cat"
    unclassified:
      scmGit:
        globalConfigEmail: "hfolguera@gmail.com"
        globalConfigName: "hfolguera"
      thinBackup:
        backupAdditionalFiles: false
        backupBuildArchive: false
        backupBuildResults: true
        backupBuildsToKeepOnly: false
        backupConfigHistory: true
        backupNextBuildNumber: true
        backupPath: "/var/jenkins_home/backups"
        backupPluginArchives: true
        backupUserContents: true
        cleanupDiff: false
        failFast: true
        forceQuietModeTimeout: 120
        fullBackupSchedule: "H 0 * * *"
        moveOldBackupsToZipFile: false
        nrMaxStoredFull: 1
        waitForIdle: true

    tool:
      terraform:
        installations:
        - name: "Terraform 41023"
          properties:
          - installSource:
              installers:
              - terraformInstaller:
                  id: "41023-linux-amd64"
